<!-- Start Header Area -->
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center d-flex">
            <div id="logo">
                <a href="index.html"><img src="../../assets/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container"> 
                <ul class="nav-menu">
                    <li class="">
                        <a class="active" routerLink="/home">Home</a>
                    </li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/experience">Experience</a></li>
                    <li><a routerLink="/education">Education</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End Header Area -->